html, body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen {
    #sp {
        font-size: 2em;
        color: rgb(132, 43, 73);
        font-family: monospace;
        text-shadow: 0 0 10px rgb(122, 215, 236);
        text-decoration: dashed underline ;
        text-rendering: geometricPrecision;
    }
}